.logo{
    height: 130px;
    width: 280px;
    background: none;
    padding-left: 50px;
}
body{
    background-image:url(./images/bg.png);
    width: 100vh;
    background-size:cover;
}
.bg{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 150vh;
}
.signin{
    background-color: rgba(0, 0, 0, 0.75);
    width: 30vw;
    border-radius: 10px;
    height: 660px;
}
.input{
    display: block;
    background-color: black;
    color: white;
    border-radius:5px;
    padding: 5px;
    border: 1.5px solid wheat;
    margin-bottom: 25px;
    background: none;
    width: 350px;
    height: 70px;
}
.button{
    background-color: red;
    border: none;
    color: white;
}
.facebook{
    height: 20px;
    width: 20px;
    size: cover;
}
.cont1{
    margin-top:60px ;
}
.footer{
     background-color: rgba(0, 0, 0, 0.75);
     width: 100vw;
     height:240px;
     margin-top: 70px;
}
.footcont{
    padding-top: 30px;
    color: gray;
    padding-left: 300px;
}
.footcont1{
    padding-left: 300px;
    padding-top:30px;
}
.anker{
     padding-right: 180px;
     color: gray;
}
.anker1{
     padding-right: 140px;
     color: gray;
}